<div class="card-container">
  <app-sensor-data-card
    [title]="waterTemperatureTitle"
    [subtitle]="waterTemperatureSubtitle"
    [value]="waterTemperatureValue">
  </app-sensor-data-card>

  <app-sensor-data-card
    [title]="airTemperatureTitle"
    [subtitle]="airTemperatureSubtitle"
    [value]="airTemperatureValue">
  </app-sensor-data-card>
</div>

<app-chart
  [lastValue]="waterTemperatureValue"
  [lastDate]="waterTemperatureDate">
</app-chart>
<app-chart
  [lastValue]="airTemperatureValue"
  [lastDate]="airTemperatureDate">
</app-chart>
