.card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card {
  width: 300px;
  margin: 10px;
}

.card-value {
  font-size: 100px;
}

.card-title {
  font-size: 30px;
}
